/* fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
/* ======================== */
*{
    padding: 0;
    margin: 0;
    border: none;
}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol{
    list-style-type: none;
}
body{
    box-sizing: border-box;
    font-family: DMSans, sans-serif;

}
[class *=__container]{
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    /* border: 1px solid #000; */
}
/* Start Header */
#header{
    padding-top: 30px;
    margin-bottom: 110px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu {
    display: flex;
    gap: 50px;
}
.menu-item {
    color: #696871;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.469px;
}
.menu-item.active{
    color: #19191B;
    padding-bottom: 10px;
    border-bottom: 1px solid #19191B;
}
.main-button {
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
    border-radius: 10px;
    width: 211px;
    background-color: #5454D4;
    height: 60px;
}
.header__btn {
    background: #FF7143;
    flex-shrink: 0;
}

/* end Header */
/* start main */
/* start home */
.home{
    margin-bottom: 135px;
}
.home__inner {
    display: flex;
    justify-content: space-between;
    gap: 75px;
}
.home-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.home-content p {
    color: #696871;
    font-family: Mulish, sans-serif;
    font-size: 20px;
    line-height: 1.5; /* 150% */
    letter-spacing: -0.625px;
    max-width: 460px;
    
}
.home-title{
    color: #19191B;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 0.96; /* 96.25% */
    letter-spacing: -2.501px;
    padding-top: 92px;
}
.buttons{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
}
.home-img{
    flex: 1;
}
/* end home */
/* start @media home */
@media(max-width: 1265px){
    .home-title {
        font-size: 60px;
        padding-top: 80px;
    }

    .home-content p {
        font-size: 15px;  
    }
}
/* start clients */
.clients {
    margin-bottom: 150px;    
}
.clients-lists {
    display: flex;
    justify-content: space-between;
    
}

/* end clients */
/* start features section */
/* start subscription block */
.features-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscription {
    margin-bottom: 80px;
}
.features-img {
    padding-left: 5%;
}
.features-img--right{
    padding-left: 0;
    padding-right: 5%;
}
.features-content {
    margin-right: 197px;
}
.features-content>*:not(:last-child){
    padding-bottom: 30px;
}
.features-content__title {
    color: #19191B;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: -1.563px;
}
.features-content__descr {
    color: #696871;
    font-family: Mulish;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.625px;
    max-width: 450px;
}
.features-content__link {
    color: #5454D4;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}
.metrics{
    margin-bottom: 138px;
}
/* start adaptive features section */
@media(max-width: 1330px){
    .features-content {
        margin-right: 150px;
    }
}
/* end subscription block */
/* start card block */
.features-cards {
    display: flex;
    justify-content: space-between;
    gap: 185px;
    margin-bottom: 150px;
    
    
}
.features-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: center;

}
.card-img {
    padding-left: 10%;
}
    
.card-title {
    color: #19191B;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.75px;
}
.card-text {
    color: #696871;
    font-family: Mulish;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.5px;
}
/* end card block */
/* start adaptive card section */
@media(max-width: 1220px){
    .features-cards {
        display: flex;
        justify-content: space-between;
        gap: 10vh;
        margin-bottom: 120px;
        
    }
    .features-card {
        gap: 16px;
    }
        
    .card-title {
        font-size: 20px;
    }
    .card-text {
        font-size: 14px;
    }
}

/* end features section */
/* start blog*/
.blog-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 250px;
    margin-bottom: 82px;
}
.blog-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: -1.876px;
    max-width: 825px;
}
.blog-buttons {
    color: #FFF;    
    font-family: DMSans;
    font-size: 16px;
    font-weight: 700;  
    letter-spacing: -0.5px;
    display: flex;
    background: #F7F7FB;
}
.blog-button {
    padding: 18px 50px;
    border-radius: 0px 10px 10px 0px;
}
.blog-button--active{
    border-radius: 10px 0px 0px 10px;
    background: #5454D4;
    color: #F7F7FB;
}
/* end blog */
/* start price */
.price {
    padding: 0 20px;
    margin-bottom: 100px;
    
}
.price__container {
}
.price__inner {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    padding: 0 20px;
    
}
.price-card {
    /* width: 330px; */
    /* max-height: 441px; */
    padding-top: 34px;
    border-radius: 10px;
    background: #F8F8F8;
    color: #696871;
    font-size: 18px;
    line-height: 1.55; /* 155.556% */
    letter-spacing: -0.563px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    /* padding-bottom: 30px; */
}

.price-card p{
    padding-bottom: 22px;
}

.card-title {
    color: #1D293F;
    font-size: 60px;
    font-weight: 700;
    line-height: 0.93; /* 93.333% */
    letter-spacing: -1.034px;
    padding-bottom: 28px;
}

.price-card.active{
    transform: scale(1.1);
    margin: 0 15px;
    color: #F7F7FB;
    width: 376px;
    height: 473px;
    border-radius: 10px;
    background: #FF7143;
    box-shadow: 0px 32px 34px 0px rgba(255, 112, 59, 0.32);
}
.price-card.active button{
    border-radius: 10px;
    background: #9F3919;
    color: white;
}
.price-card.active h2{
    color: white;
}
.price-list {
    font-family: Mulish;
    font-size: 17px;
    line-height: 2.94; /* 294.118% */
    letter-spacing: -0.531px;
    margin-bottom: 36px;
}
.price-btn {
    color: #5454D4;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
    padding: 19px 42px;
    width: 285px;
    border-radius: 10px;
    border: 1px solid #EAE9F2;
    background: #FFF;
}
/* end price */
